<div class="container">
    <h2>Delete Course</h2>

    <div class="form-row" *ngIf="!showMsg">
        <div class="alert alert-danger col-md-12" role="alert">
            Are you sure?
            <br>

            <div class = "btn-group" role ="group">
                <button class="btn btn-outline-danger btn-sm" (click)="delete()">Delete</button>
                <a class="btn btn-outline-danger  btn-sm" [routerLink]="[ '/course-list']">back</a>
            </div>

        </div>
    </div>

    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
            {{msg}}
            <br>
            <a class="btn btn-outline-danger  btn-sm" [routerLink]="[ '/course-list']">back</a>
        </div>
    </div>

    <form #courseForm="ngForm" *ngIf="course">
        <div class="form-row">
            <div class="col-md-4">
                <label>ID:</label>
                <input type="number" id="CourseID" name="CourseID" placeholder="Ingrese su código" class="form-control"
                    [(ngModel)]="course.CourseID" readonly />
            </div>

            <div class="col-md-4">
                <label>Title:</label>
                <input type="text" id="Tittle" name="Title" placeholder="Ingrese su código" class="form-control"
                    [(ngModel)]="course.Title" />
            </div>

            <div class="col-md-4">
                <label>Credits:</label>
                <input type="number" id="Credits" name="Credits" placeholder="Ingrese su código" class="form-control"
                    [(ngModel)]="course.Credits" />
            </div>
        </div>
    </form>

</div>